<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login-container">
    <h2>Crear Receta</h2>
    <form class="recipe-form">
        <label for="recipe-name">Nombre de la receta</label>
        <input type="text" id="recipe-name" name="recipe-name" placeholder="Nombre de la receta">

        <label for="description">Descripción</label>
        <textarea id="description" name="description" placeholder="Descripción"></textarea>

        <label for="category">Categorías</label>
        <select id="category" name="category">
            <option value="">Selecciona una categoría</option>
            <option value="entradas">Entradas</option>
            <option value="plato-principal">Plato Principal</option>
            <option value="postres">Postres</option>
            <option value="bebidas">Bebidas</option>
        </select>

        <label for="image-upload">Imagen</label>
        <div class="image-upload">
            <input type="file" id="image-upload" name="image-upload" accept="image/*">
        </div>

        <div class="button-container">
            <button type="button" class="add-step">Agregar Paso</button>
            <button type="reset" class="cancel">Cancelar</button>
            <button type="submit" class="publish">Publicar</button>
        </div>
    </form>
</div>