
        body {
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f9;
        }
        .login-container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            text-align: center;
        }
        h2 {
            margin-bottom: 20px;
            color: #333;
        }
        label {
            display: block;
            margin: 10px 0 5px;
            text-align: left;
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
       }
    .recipe-form textarea {
        resize: none;
        height: 80px;
    }

    .image-upload {
        margin-top: 15px;
        text-align: center;
    }

    .image-label {
        font-size: 2em;
        color: #aaa;
        cursor: pointer;
    }

    .image-upload input[type="file"] {
        display: none;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }


    .add-step, .cancel, .publish {
        width: 32%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        color: #fff;
    }

    .add-step {
        background-color: #FFCC66;
    }

    .cancel {
        background-color: #FF6666;
    }

    .publish {
        background-color: #66CC66;
    }

    .add-step:hover {
        background-color: #e6b35c;
    }

    .cancel:hover {
        background-color: #e65a5a;
    }

    .publish:hover {
        background-color: #5cb85c;
    }