/*Styles y clases para landing page*/

.texto_highlight{
    color:#27AE60;


}
.text-font{
    font-family: "Poppins",sans-serif;
    color: #2c3e50;
}

.landing-page-body{
    background-color:#FFF9E6 ;
}

.navbar-foto{
    height: 130px;
    width: auto;
}

.title{
    font-size:60px ;
    font-weight: 900;
}
.btn{
    background-color:#E67E22;
    border-style: none;
    color:white;
}
.btn:hover{
    background-color:#E67E22;
    border-style:solid;
    border-color: #27AE60;
    border-width: 2px;
    color:white;
}

.foto-landing-page-verduras{

    position:fixed;
    z-index: -1;
    height: 80%;
    rotate: 45deg;
    left: -20%;
}
.foto-landing-page-steak{

    position:fixed;
    z-index: -1;
    height: 100%;
    rotate: -45deg;
    right: -22%;
}

/*Styles y clases para Página de búsqueda*/

.searchbar{
    padding :0 200px;
}

/*Styles y clases para página de agregación de receta*/

.btn-aceptar{
    background-color:#27AE60;
    border-style: none;
    color:white;
}
.btn-aceptar:hover{
    background-color:#27AE60;
    border-style: none;
    color:white;
    border-style: solid;
    border-width: 2px;
}
.btn-cancelar{
    background-color:#FF5243;
    border-style: none;
    color:white;
}
.btn-cancelar:hover{
    background-color:#FF5243;
    border-style: none;
    color:white;
    border-style: solid;
    border-width: 2px;
}
input[type="radio"]:checked {
    accent-color: #27AE60; /* Green */
}

/*Estilo para pagina buscar recetas*/
.foto-receta{
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.row>*{
    padding-left: 0;
}

/*Estilo para pagina buscar recetas*/
.foto-receta{
    object-fit: cover;
    height: 200px;
    width: 100%;
}
.row>*{
    padding-left: 0;
}
