/*Styles y clases para landing page*/

.texto_highlight{
    color:#27AE60;


}
.text-font{
    font-family: "Poppins",sans-serif;
    color: #2c3e50;
}

.landing-page-body{
    background-color:#FFF9E6 ;
}

.navbar-foto{
    height: 130px;
    width: auto;
}

.title{
    font-size:60px ;
    font-weight: 900;
}
.btn{
    background-color:#E67E22;
    border-style: none;
    color:white;
}
.btn:hover{
    background-color:#E67E22;
    border-style:solid;
    border-color: #27AE60;
    border-width: 2px;
    color:white;
}

.foto-landing-page-verduras{

    position:fixed;
    z-index: -1;
    height: 80%;
    rotate: 45deg;
    left: -20%;
}
.foto-landing-page-steak{

    position:fixed;
    z-index: -1;
    height: 100%;
    rotate: -45deg;
    right: -22%;
}

/*Styles y clases para Página de búsqueda*/

.searchbar{
    padding :0 200px;
}