<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Buenas Recetas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <h1>Bienvenido a la Página de Inicio</h1>
    <p>Haga clic en el siguiente enlace para ir a la página de inicio de sesión:</p>
    <a th:href="@{auth/login/inicio_sesion}">Iniciar Sesión</a>
</body>
</html>
