<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/plantilla :: head}">


</head>

<body class="landing-page-body">


<header >
    <nav th:replace="~{layout/plantilla :: navbar}"></nav>
</header>
    <img class = "foto-landing-page-verduras" th:src ="@{/images/verduras.png}">
<img class = "foto-landing-page-steak" th:src ="@{/images/steak.png}">

    <div class="px-4  my-5 text-center container-fluid ">

        <h1 class="display-5 fw-bold text-body-emphasis text-font title">Buenas Recetas de <br>todos para <span class = "texto_highlight">todos</span></h1>
        <div class="col-lg-6 mx-auto">

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn  btn-lg px-2 gap-3 texto-font my-2">Únete y explora</button>
            </div>
        </div>
    </div>



</body>


</html>
